<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlrm1XaiGl5ctmerR7uPE0x7Izw7EgQGE</string>
	<key>GCM_SENDER_ID</key>
	<string>675754179401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.majlisLibrary.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>library-9e7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>library-9e7fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675754179401:ios:e4c371f1d3d8c3afaaf898</string>
</dict>
</plist>